node_modules
src/**/*.js
dist
lib
*.log
.DS_Store
*.pdf
coverage
.idea/
**/.docusaurus/
profile*.json
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
temp
*.tgz
.claude/settings.local.json
*.tsbuildinfo

# ignored to prevent false positive security alerts on nested deps that are rarely/never installed
benchmark/yarn.lock

# workspace-tools
.rush/
**/common/scripts/
/packages/workspace-tools/src/__fixtures__/*/node_modules/
/packages/workspace-tools/src/__fixtures__/**/.yarn/
!/packages/workspace-tools/src/__fixtures__/**/package-lock.json
install-state.gz
