{
  "printWidth": 140,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.json5",
      "options": {
        "parser": "json"
      }
    }
  ],
  "endOfLine": "lf"
}
