{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es2020"
  },
  "module": {
    "type": "commonjs",
    "ignoreDynamic": true,
    // Required to emit CJS output that can be imported by Node from ESM
    "exportInteropAnnotation": true
  },
  "sourceMaps": true
}
