{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true
    },
    "target": "es2020",
    "experimental": {
      "emitIsolatedDts": true
    }
  },
  "module": {
    "type": "commonjs",
    "ignoreDynamic": true
  },
  "sourceMaps": true
}
