:root {
  /* code fonts are overly large */
  --ifm-code-font-size: 95%;
  /* Use this background color for the top navbar in light or dark mode */
  --navbar-background: rgb(28 88 106);
}

pre.prism-code code {
  font-size: var(--ifm-code-font-size);
}

/* top navbar */
.navbar {
  background-color: var(--navbar-background);
}
/* items and link items in top navbar (can't set on .navbar because it will
color certain small-screen sidebar items too) */
.navbar__items,
.navbar__link--active {
  color: white;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: white;
}
/* add hover underline on links in top navbar (needs more specificity) */
.navbar__items .navbar__link:hover {
  text-decoration: underline;
}
/* top navbar when menu is open on small screens */
.navbar-sidebar__brand {
  background-color: var(--navbar-background);
  color: white;
}

html[data-theme="dark"] {
  --ifm-color-primary: rgb(70, 189, 226);
}

/* Make links in markdown text visible in light mode (add an underline because it was hard to get a
color with enough contrast against both the background and other text) */
html[data-theme="light"] .markdown {
  --ifm-link-color: #357e95;
  --ifm-link-decoration: underline;
}
