name: Docs - PR

# This doesn't actually deploy, just builds the docs folder when it's modified.

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/docusaurus-pr.yml
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: .nvmrc

      - run: yarn --immutable
        working-directory: docs

      - name: Build website
        working-directory: docs
        run: yarn build
