name: Docs - PR

# This doesn't actually deploy, just builds the docs folder when it's modified.

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/docusaurus-pr.yml
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc

      - run: yarn --immutable
        working-directory: docs

      - name: Build website
        working-directory: docs
        run: yarn build
