# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: PR

on:
  pull_request:
    branches: [master, stable]

jobs:
  build:
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest, windows-2019]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: extract runners variables
        id: extract_runners_variables
        uses: kenotron/extract-runners-variables@main

      - run: yarn

      - name: Code Format Check
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: yarn format:check

      - name: Check Change Files
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: yarn checkchange

      - name: Build, Test (Windows)
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: yarn lage build test --scope=!@lage-run/lage --concurrency 2

      - name: Build, Test, Lint (Linux)
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: yarn lage build test lint --concurrency 2
        env:
          ACTIONS_CACHE_URL: ${{ steps.extract_runners_variables.outputs.actions_cache_url }}
          ACTIONS_RUNTIME_TOKEN: ${{ steps.extract_runners_variables.outputs.actions_runtime_token }}
          ACTIONS_RUNTIME_URL: ${{ steps.extract_runners_variables.outputs.actions_runtime_url }}

