# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: PR

on:
  pull_request:
    branches: [master, v1]
# Ignoring the docs prevents PRs touching only docs from succeeding.
# Also, the docs do have a build step which must succeed for overall builds to succeed.
#    paths-ignore:
#      - "docs/**"

jobs:
  build:
    strategy:
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn

      - name: Code Format Check
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn format:check

      - name: Check Change Files
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn checkchange

      # @see https://www.npmjs.com/package/syncpack
      - name: Check consistent package.json dep versions
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn syncpack list-mismatches

      - name: Dependency checks
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn lage depcheck

      - name: Build, Test, Lint
        run: yarn ci --concurrency 2 --verbose
        env:
          BACKFILL_CACHE_PROVIDER: ${{ secrets.backfill_cache_provider }}
          BACKFILL_CACHE_PROVIDER_OPTIONS: ${{ secrets.backfill_cache_provider_options }}
