name: Release

# Release on manual trigger only
on:
  workflow_dispatch:

permissions: {}

# Only run one release at a time to avoid duplicate attempts to publish particular versions.
# To avoid backups after multiple pushes in rapid succession, the prerelease job below emulates
# batching (which github actions don't support) by skipping the release job if a newer run is pending.
#
# (There's an option "cancel-in-progress" to cancel in-progress workflows upon a new request, but
# that's not safe because it could potentially cause a job to be cancelled in the middle of the
# actual npm publish step, leaving things in an inconsistent state.)
concurrency:
  group: release-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest

    # This environment contains secrets needed for publishing
    environment: release

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          # Don't save creds in the git config (so it's easier to override later)
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc

      - run: yarn --immutable

      - run: yarn ci --concurrency 2 --verbose

      - name: Set git user
        run: |
          git config user.email "kchau@microsoft.com"
          git config user.name "Ken Chau"

      - name: Publish
        run: |
          # Get the existing remote URL without creds, and use a trap (like try/finally)
          # to restore it after this step finishes
          trap "git remote set-url origin '$(git remote get-url origin)'" EXIT

          # Add a token to the remote URL for auth during release
          git remote set-url origin "https://$REPO_PAT@github.com/$GITHUB_REPOSITORY"

          yarn release -y -n $NPM_AUTHTOKEN
        env:
          NPM_AUTHTOKEN: ${{ secrets.npm_authtoken }}
          REPO_PAT: ${{ secrets.REPO_PAT }}
